<!DOCTYPE html>
<html lang="en">

<head>
    <title>Black Hole</title>

    <link rel="stylesheet" href="~/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body>
<div id="hint-text" class="hidden-phone initially-hidden">
    Drag to rotate or toggle variables on the right ⟶
</div>
<div class="info ">
    <div id="loader">
        Loading...
        <div class="disclaimer">
            This is a WebGL demo and very unlikely to work unless you run
            a recent variant of Chrome or Firefox
        </div>
    </div>

</div>

<div class="link-bar">
    <a href="README" target="_blank"><i class="fa fa-question-circle fa-lg"></i> What is this?</a>
    |
    <a href="https://github.com/oseiskar/black-hole" target="_blank"><i class="fa fa-github fa-lg"></i> Source</a>
    |
    <a href="docs/physics.html" target="_blank"><i class="fa fa-lg">&Sigma;</i> Physics</a>
    |
    <a href="COPYRIGHT" target="_blank"><i class="fa fa-copyright fa-lg"></i> Copyright</a>
</div>

<script src="~/js-libs/jquery-2.1.4.min.js"></script>
<script src="~/js-libs/three.min.js"></script>
<script src="~/js-libs/OrbitControls.js"></script>
<script src="~/js-libs/Detector.js"></script>
<script src="~/js-libs/stats.min.js"></script>
<script src="~/js-libs/ShaderLoader.min.js"></script>
<script src="~/js-libs/mustache.min.js"></script>
<script src="~/js-libs/dat.gui.min.js"></script>
<script src="~/three-js-monkey-patch.js"></script>

<script id="vertex-shader" type="x-shader/x-vertex">

            void main()    {

                gl_Position = vec4( position, 1.0 );

            }

        </script>
<script data-src="raytracer.txt" data-name="raytracer" type="x-shader/x-fragment"></script>
<script src="~/main.js"></script>

</body>

</html>